<section class="section">
  <div class="section-container">
    <div class="section-title">
      <h2>A* Algorithm</h2>
    </div>
    <div class="section-content">
      <p>This was the most fun project i've done so far. A few years ago, I've done a similar project for my Computer Science college (it's available <a href="">here</a>). It is the classic A* algorithm, with Euclidean's distance as a heuristic.</p>
      <p>I had some difficulties here. First of all, how <span class="s-italic">exactly</span> A* algorithm works? I knew the theory, I've done this project before, but I didn't want to go back to my Github and just copy the codes and drop here. I needed to do it from zero.</p>
      <p>I searched some videos in YouTube to visualize A* algorithm and reproduze it with TypeScript. Initially, the algorithm that I made works almost perfectly, but I didn't handle some edge cases (like diagonal paths) and my first attempt took a long time to deliver a result.</p>
      <div class="section-content-img">
        <div class="section-content-img-holder">
          <img src="assets/imgs/a-star-01.png" alt="">
        </div>
        <p>First things first, I </p>
      </div>
    </div>
  </div>
  <div class="section-container">
    <div class="grid-system">
      <div class="gs-6 input-group">
        <label for="">Size of pixels (px)</label>
        <input [disabled]="onIteration || onEdit" type="number" min="1" [(ngModel)]="cellSize" (change)="drawGrid()">
      </div>
      <div class="gs-6 input-group">
        <label for="">Size of square</label>
        <input [disabled]="onIteration || onEdit" type="number" min="1" [(ngModel)]="squareSize" (change)="resetArray(); drawGrid()">
      </div>
      <div class="gs-3 input-group">
        <label for="">Select Edit Mode</label>
        <select [disabled]="onIteration || onEdit" (change)="onEdit = true" [(ngModel)]="edit">
          <option value="-1">Select edit mode</option>
          <option value="0">Set target</option>
          <option value="1">Set origin</option>
          <option value="2">Set wall</option>
        </select>
      </div>
      <div class="gs-3 input-group">
        <button [disabled]="edit == -1" (click)="toggleEdit()">{{ edit >= 0 && onEdit ? 'EDITING' : 'Edit'}}</button>
      </div>
      <div class="gs-3 input-group">
        <button [disabled]="onEdit" (click)="toggleIteration()">{{ onIteration ? 'STOP' : 'START'}}</button>
      </div>
      <div class="gs-3 input-group">
        <button [disabled]="onEdit" (click)="setRandom()">Randomize</button>
      </div>
    </div>
    <div class="canvas" [style]="'--padding: {{arraySpacing }}px'">
      <canvas #myCanvas></canvas>
    </div>
  </div>
</section>