<section class="section">
  <div class="section-container">
    <div class="section-title">
      <h2>A* Algorithm</h2>
    </div>
    <div class="section-content">
      <p>This was the most fun project I've done so far. It uses the classic A* algorithm, with Euclidean distance as a heuristic. I love the way this algorithm works. A few years ago, I did a similar project for my Computer Science course (it is available <a href="https://natanaelneto.github.io/catmaze/" target="_blank">here</a>), but it had some errors. So, I decided to fix it.</p>
      <p>I had some difficulties here. First of all, how <span class="italic">exactly</span> does the A* algorithm work? I knew the theory and had done this project before, but I didn't want to go back to my GitHub and just copy the code and paste it here. I needed to do it from scratch.</p>
      <p>I searched for some videos on YouTube to visualize the A* algorithm and reproduce it with TypeScript. Initially, the algorithm I made worked almost perfectly, but I didn't handle some edge cases (like diagonal paths), and my first attempt took a long time to deliver a result.</p>
      <div class="section-content-img">
        <div class="section-content-img-holder">
          <img src="assets/imgs/a-star-01.png" alt="">
          <p class="section-content-img-holder-legend">Expected Behavior | Unexpected Behavior (edge case) | Okay, Houston, we've had a problem here</p>
        </div>
        <p>First things first, I adjusted the algorithm to consider diagonal paths. However, when it reached a 'chessboard' point (as seen in the figure), it just crossed the walls, which is not acceptable. To fix this, I coded it to check the vertical/horizontal adjacent neighbors. If both are walls, the current neighbor is marked as unreachable.</p>
      </div>
      
    </div>
  </div>
  <div class="section-container">
    <div class="grid-system">
      <div class="gs-6 input-group">
        <label for="">Size of pixels (px)</label>
        <input [disabled]="onIteration || onEdit" type="number" min="1" [(ngModel)]="cellSize" (change)="drawGrid()">
      </div>
      <div class="gs-6 input-group">
        <label for="">Size of square</label>
        <input [disabled]="onIteration || onEdit" type="number" min="1" [(ngModel)]="squareSize" (change)="resetArray(); drawGrid()">
      </div>
      <div class="gs-3 input-group">
        <label for="">Select Edit Mode</label>
        <select [disabled]="onIteration || onEdit" (change)="onEdit = true" [(ngModel)]="edit">
          <option value="-1">Select edit mode</option>
          <option value="0">Set target</option>
          <option value="1">Set origin</option>
          <option value="2">Set wall</option>
        </select>
      </div>
      <div class="gs-3 input-group">
        <button [disabled]="edit == -1" (click)="toggleEdit()">{{ edit >= 0 && onEdit ? 'EDITING' : 'Edit'}}</button>
      </div>
      <div class="gs-3 input-group">
        <button [disabled]="onEdit" (click)="toggleIteration()">{{ onIteration ? 'STOP' : 'START'}}</button>
      </div>
      <div class="gs-3 input-group">
        <button [disabled]="onEdit" (click)="setRandom()">Randomize</button>
      </div>
    </div>
    <div class="canvas" [style]="'--padding: {{arraySpacing }}px'">
      <canvas #myCanvas></canvas>
    </div>
  </div>
</section>