/* You can add global styles to this file, and also import other style files */

// IMPORTS
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100vh;
  width: 100%;

  background-color: var(--background_color);
  color: var(--text_color);

  font-family: 'Roboto Mono', 'Roboto', sans-serif;
  font-size: 16px;
}

h1, h2, h3, h4 {
  font-family: 'Roboto Condensed', 'Roboto', sans-serif;
}

h1 { font-size: 40px; }
h2 { font-size: 32px; }
h3 { font-size: 24px; }
h4 { font-size: 16px; }

// HEADER

.header {
  padding: 20px 30px;
  display: flex;
  flex-flow: column;
  width: 100%;

  &-title {
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 10px solid var(--text_color);
  }

  &-nav {
    display: flex;
    width: 100%;
    ul {
      display: flex;
      width: 100%;

      list-style: none;

      li {
        text-transform: uppercase;
        padding: 10px 20px;
        background-color: var(--background_color);
        color: var(--text_color);
        font-size: 16px;

        &:hover {
          background-color: var(--background_invert_color);
          color: var(--text_invert_color);
        }

        &.active {
          position: relative;

          &::after {
            position: absolute;
            height: 10px;
            width: 10px;
            content: '';
            background-color: var(--text_color);
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 0);
          }

          &:hover::after {
            position: absolute;
            height: 10px;
            width: 10px;
            content: '';
            background-color: var(--text_invert_color);
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 0);
          }
        }
      }
    }
  }
}

// CONTAINER

.container {
  padding: 40px;
  width: 100%;
}